@font-face {
    font-family: 'itc_benguiat_bold';
    src: url('fonts/benguiatstd-bold-webfont.woff2') format('woff2'),
        url('fonts/benguiatstd-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'itc_benguiat_regular';
    src: url('fonts/benguiatstd-book-webfont.woff2') format('woff2'),
        url('fonts/benguiatstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itc_benguiat_medium';
    src: url('fonts/benguiatstd-medium-webfont.woff2') format('woff2'),
        url('fonts/benguiatstd-medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

body {
    background: #000;
    overflow: hidden;
}

* {
    font-family: 'itc_benguiat_bold';
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #1c0502;
    text-shadow: -0.05rem -0.05rem 1px #ed2b12,
        0.05rem -0.05rem 1px #ed2b12,
        -0.05rem 0.05rem 1px #ed2b12,
        0.05rem 0.05rem 1px #ed2b12,
        0 0 15px #630100,
        0 0 20px #450100;
}

.scene8-a {
    animation-name: scene8-a;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -550px;
    left: -92px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-a {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 386px;
        opacity: 1;
    }
}

.scene8-n1 {
    animation-name: scene8-n1;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -550px;
    left: 839px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-n1 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 539px;
        opacity: 1;
    }
}

.scene8-i {
    animation-name: scene8-i;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 159px;
    left: -300px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-i {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -65px;
        left: 581px;
        opacity: 1;
    }
}

.scene8-g2 {
    animation-name: scene8-g2;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 233px;
    left: 1562px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-g2 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -65px;
        left: 589px;
        opacity: 1;
    }
}

.scene8-g1 {
    animation-name: scene8-g1;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -514px;
    left: 1489px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-g1 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 590px;
        opacity: 1;
    }
}

.scene8-r1 {
    animation-name: scene8-r1;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -550px;
    left: -1100px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-r1 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 296px;
        opacity: 1;
    }
}

.scene8-n2 {
    animation-name: scene8-n2;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 1000px;
    left: 554px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-n2 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -65px;
        left: 538px;
        opacity: 1;
    }
}

.scene8-t2 {
    animation-name: scene8-t2;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 159px;
    left: -2000px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-t2 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -65px;
        left: 277px;
        opacity: 1;
    }
}

.scene8-t1 {
    animation-name: scene8-t1;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -1500px;
    left: -1000px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-t1 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 238px;
        opacity: 1;
    }
}

.scene8-h {
    animation-name: scene8-h;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 1846px;
    left: -200px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-h {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -65px;
        left: 321px;
        opacity: 1;
    }
}

.scene8-e {
    animation-name: scene8-e;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -2000px;
    left: 1800px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-e {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -203px;
        left: 762px;
        opacity: 1;
    }
}

.scene8-s2 {
    animation-name: scene8-s2;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: 2100px;
    left: 1800px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-s2 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.2);
        top: -67px;
        left: 756px;
        opacity: 1;
    }
}

.scene8-r2 {
    animation-name: scene8-r2;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -800px;
    left: 4000px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-r2 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.26);
        top: -187px;
        left: 858px;
        opacity: 1;
    }
}

.scene8-s1 {
    animation-name: scene8-s1;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    font-size: 800px;
    position: absolute;
    top: -800px;
    left: -4200px;
    backface-visibility: hidden;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    text-shadow: -0.1rem -0.1rem 1px #ed2b12,
        0.1rem -0.1rem 1px #ed2b12,
        -0.1rem 0.1rem 1px #ed2b12,
        0.1rem 0.1rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-s1 {
    0.01% {
        opacity: 1;
    }

    100% {
        transform: scale(0.26);
        top: -187px;
        left: 113px;
        opacity: 1;
    }
}

.scene8-box1 {
    animation-name: scene8-box1;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    position: absolute;
    top: 180px;
    left: 672px;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 186px;
    height: 8px;
    background-color: #1c0502;
    box-shadow:
        -0.03rem -0.03rem 1px #ed2b12,
        0.03rem -0.03rem 1px #ed2b12,
        -0.03rem 0.03rem 1px #ed2b12,
        0.03rem 0.03rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-box1 {
    0.01% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        width: 186px;
        left: 672px;
    }

    100% {
        width: 912px;
        left: 314px;
        opacity: 1;
    }
}

.scene8-box2 {
    animation-name: scene8-box2;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    position: absolute;
    top: 377px;
    left: 414px;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 41px;
    height: 8px;
    background-color: #1c0502;
    box-shadow:
        -0.03rem -0.03rem 1px #ed2b12,
        0.03rem -0.03rem 1px #ed2b12,
        -0.03rem 0.03rem 1px #ed2b12,
        0.03rem 0.03rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-box2 {
    0.01% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        width: 41px;
        left: 414px;
    }

    100% {
        width: 141px;
        left: 314px;
        opacity: 1;
    }
}

.scene8-box3 {
    animation-name: scene8-box3;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    visibility: visible !important;
    /* animation-delay: 25.5s; */
    position: absolute;
    top: 377px;
    left: 1075px;
    z-index: 7;
    opacity: 0;
    animation-fill-mode: forwards;
    width: 41px;
    height: 8px;
    background-color: #1c0502;
    box-shadow:
        -0.03rem -0.03rem 1px #ed2b12,
        0.03rem -0.03rem 1px #ed2b12,
        -0.03rem 0.03rem 1px #ed2b12,
        0.03rem 0.03rem 1px #ed2b12,
        0 0 75px #630100,
        0 0 100px #450100;
}

@keyframes scene8-box3 {
    0.01% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        width: 45px;
        left: 1075px;
    }

    100% {
        width: 151px;
        left: 1075px;
        opacity: 1;
    }
}